In [1]:
%matplotlib inline

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
import ipywidgets as widgets
# Import the API key.
from config3 import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lewiston,US,2021-08-13 04:07:11,44.1003,-70.2148,78.39,97,1,0.00
1,1,Hithadhoo,MV,2021-08-13 04:07:12,-0.6000,73.0833,80.51,76,98,8.90
2,2,Utena,LT,2021-08-13 04:07:12,55.5000,25.6000,53.24,97,11,6.98
3,3,Maltahohe,NaN,2021-08-13 04:07:13,-24.8333,16.9833,38.70,70,3,13.56
4,4,Kruisfontein,ZA,2021-08-13 04:07:13,-34.0033,24.7314,48.31,80,92,4.52

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=[0,-10], zoom_level=2)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lewiston,US,2021-08-13 04:07:11,44.1003,-70.2148,78.39,97,1,0.00
1,1,Hithadhoo,MV,2021-08-13 04:07:12,-0.6000,73.0833,80.51,76,98,8.90
5,5,Mahebourg,MU,2021-08-13 04:07:14,-20.4081,57.7000,73.26,80,19,12.24
8,8,Lebanon,US,2021-08-13 04:07:15,36.2081,-86.2911,80.96,82,1,6.91
9,9,Albany,US,2021-08-13 04:05:24,42.6001,-73.9662,74.32,95,91,3.36
10,10,Kapaa,US,2021-08-13 04:07:16,22.0752,-159.3190,84.18,67,20,5.01
11,11,Craig,US,2021-08-13 04:07:16,40.5153,-107.5464,77.59,51,1,0.00
13,13,Ust-Nera,RU,2021-08-13 04:07:17,64.5667,143.2000,72.88,49,79,6.20
14,14,Puerto Carreno,CO,2021-08-13 04:07:17,6.1890,-67.4859,75.15,94,100,2.30
16,16,Jamestown,US,2021-08-13 04:07:18,42.0970,-79.2353,71.71,88,20,3.00

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0         Lewiston      US     78.39  44.1003  -70.2148
1        Hithadhoo      MV     80.51  -0.6000   73.0833
5        Mahebourg      MU     73.26 -20.4081   57.7000
8          Lebanon      US     80.96  36.2081  -86.2911
9           Albany      US     74.32  42.6001  -73.9662
10           Kapaa      US     84.18  22.0752 -159.3190
11           Craig      US     77.59  40.5153 -107.5464
13        Ust-Nera      RU     72.88  64.5667  143.2000
14  Puerto Carreno      CO     75.15   6.1890  -67.4859
16       Jamestown      US     71.71  42.0970  -79.2353

In [16]:
from config3 import g_key

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}